/* STYLES GENERAUX */

html{
    height: 100%;
}

body {
    height: 100%; /* Used to enable scrolling */
    font-family: 'Barlow', sans-serif;
    color: #000b10;
    font: 100%;
  }


/* HEADER */

.identite_visuelle {
    width:210px;
    min-height: 10px;
}

.accroche {
    width:250px;
    min-height: 10px;
}
/* fin résultats */
/* page produit seul */
img {
    width:100%;
   align-content:center;
}


li.left {
    display: inline-block;
    margin: 0px 0px 0px 15px;
    padding: 0;
}

li.right {
    display: inline-block;
    margin: 0px 15px 0px 0px;
    padding: 0;
}

a {
    color: #000b10;;
}

.navbar {
    font-size: 1.3em;
    margin-top: 50px;
}

.baseline {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: bold;
    font-size: 20px;
}
/* PRODUITS */

.selected_products {
    width: 400px;
}

.titre_produit {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: 100px;
}

span {
    font-weight: bold;
}

.prix {
    font-size: 30px;
    font-weight: bold;
}

.quantity-right-plus, .quantity-left-minus{
    color: black;
    background: none;
}

#quantity {
    width: 40px;
}

h2.intro {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: bold;
}

.bstof{
    font-size: 20px;
}

/* PRODUIT */

.nameproduct {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: bold;
}

.brand {
    font-weight: bold;
}
.price {
    font-weight: bold;
    font-size: 20px,
}

/* FOOTER */

footer {
    min-height: 250px;
    background-color: #f9f5fa;
}

input {
    font-weight: bold;
    border-color: #000b10;
    background: none;
    font-size: 19px;
    height: 35px;
    border-width: 2px;
    width: 300px;
}

/* input section adresse panier */
input[type="checkbox"] {
    height:10px;
    width: 10px;
}

.rule {
    font-style: italic;
    margin-top: 10px;
    padding-right: 50px;
}

ul.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navfooter {
    margin-top: 40px;
}
/* page produits */
#produit_img {
    width:100%;
    align-content:center;

}
.parent {
    position:relative;

}
.parent:hover button {
    opacity: 1;
}

.quickview {
    position: absolute;
    opacity: 1;
}
/* fin page produits */
#res_img, #sug_img {
     width:100%;
    align-content:center;
}
/* page résultats formulaire */
#résultats_form, #suggestions {
    height: 50vh;
    width:100%

}


/* fin produit */
